{% extends 'blog/base.html'%}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5 textsizehead">About Page</h3>

    <p class="textsize">
    fhsdgfskdb Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia labore harum odio quod, consectetur, dolorum voluptates, voluptas doloribus minima officiis impedit voluptate dignissimos rem obcaecati odit et ullam eius explicabo.
    </p>
    <p class="textsize">
        dhkjsdbfksdvb
    </p>
        
   

{% endblock content %}